<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
</head>

<body>
    <a href="/">Volver a la página principal.</a>
    <img src="images/joan-clarke.png" alt="">
    <p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y numismática
        británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.</p>
</body>

</html>