<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH - Heroes</title>
</head>

<body>

    <h1>Proyecto DH - Heroes</h1>
    <h4>A continuación tendremos una lista con las biografias de grandes exponentes.</h4>

    <ul>
        <li>
            <a href="/babbage">Biografía de Charles Babbage</a>
        </li>
        <li>
            <a href="/berners-lee">Biografía de Tim Berners Lee</a>
        </li>
        <li>
            <a href="/clarke">Biografía de Joan Clarke</a>
        </li>
        <li>
            <a href="/hamilton">Biografía de Margaret Hamilton</a>
        </li>
        <li>
            <a href="/hopper">Biografía de Grace Murray Hopper</a>
        </li>
        <li>
            <a href="/lovelace">Biografía de Ada Lovelace</a>
        </li>
        <li>
            <a href="/turing">Biografía de Alan Turing</a>
        </li>
    </ul>

</body>

</html>